.hflex {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.vflex{
	display:flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--mfwhitegray);
	font-family: "ShoikaLight";
}

.toolbar {
}

.calView {
	flex-grow: 1;
}
