#main {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow: auto;
	font-family: "ShoikaLight";
	background-color: var(--mfwhitegray);
	position: fixed;
	width: 100vw;
	height: 100vh;
}

#input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border-radius: 12px;
	background-color: var(--mfalmostwhite);
}

#hflex {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

#groupList {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	background-color: var(--mfalmostwhite);
	padding: 20px;
	flex-grow: 1;
}

@media (max-width: 900px) {
	.vflex {
		width: 900px;
	}
}