button {
	cursor: pointer;
	border: none;
	font-size: medium;
	border-radius: 5px;
}

.blackButton {
	background-color: var(--mfdarkgray);
	color: var(--mfalmostwhite);
	width: 100%;
	padding: 10px
}
.blackButton:hover {
	background-color: var(--mflightgray);
}

.lightGrayButton {
	background-color: var(--mfwhitegray);
	color: var(--mfdarkgray);
	width: 100%;
	padding: 10px
}
.lightGrayButton:hover {
	background-color: var(--mfverylightgray);
}


.whiteButton {
	background-color: var(--mfalmostwhite);
	color: var(--mfdarkgray);
	width: 100%;
	padding: 10px
}
.whiteButton:hover {
	background-color: var(--mfverylightgray);
}

input{
	border-radius: 6px;
	padding: 20px;
	border: none;
	outline-color: var(--mfgray);
  }