body,html{
	width:100%;
	height:100%;
}
body {

	width:100%;
	height:100%;
	overscroll-behavior: none;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--event-l-padding: 100px;
	--event-t-padding: 100px;
	--event-r-padding: 30px;
	--event-b-padding: 30px;

	--single-event-margin: 1px;

	--mfdarkgray: #303030;
	--mfgray: #424242;
	--mflightgray: #818181;
	--mfverylightgray: #d4d4d4;
	--mfwhitegray: #eaeaea;
	--mfalmostwhite: #f1f1f1;
}