:root{
	--toolbar-height:50px;
}


#toolbar {
	display: flex;
	gap: 30px;
	color: var(--mfdarkgray);
	padding: 30px 30px 30px 0
}


#navigation{
	box-sizing: border-box;
	border-radius: 12px;
	max-width: 300px;
	flex-grow: 1;
	height: var(--toolbar-height);
	display: flex;
}

#tools {
	box-sizing: border-box;
	border-radius: 12px;
	flex-grow: 1;
	background-color: var(--mfalmostwhite);
	height: var(--toolbar-height);
}

#user {
	width: 300px;
	height: var(--toolbar-height);
	border-radius: 12px;
	background-color: var(--mfalmostwhite);
	box-sizing: border-box;
	display: flex;
	align-items:center;
}


@media (min-width: 1000px) {
	#user {
		width: 400px;
	}
}